@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);

/* Common css */
/* Top menu changes */
#top_menu li:first-child{
    display: none;
}

#top_menu li.active > a, #top_menu li > a:focus{
    background-color: #982582;
    color: #FFFFFF;
}
/* End of top menu changes */

/* Blog customization*/
#main_column h4{
    font-size: 18px;
}

div[name="blog_post_data"]{
    font-size: 12px;
}

.post-meta{
    font-size: 12px;
}

div[name="blog_post_data"] .post-meta{
    top: -17px;
}

@media (max-width: 600px) {
    div[name="blog_post_data"] .post-meta{
        top: -1px;
    }
}
/* End of blog customization*/

#wrap, section{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

a{
    color: #F59A1E;
    outline: none !important;
}

a:hover, a:focus{
    color: #982582;
    text-decoration: none;
    outline: none !important;
}

/* Register screen */
.oe_website_login_container p{
    font-size: 14px;
}

.field-join-info h4{
    font-size: 14px;
    color: #737373;
}

.field-join-info .info_sign_register{
    font-size: 13px;
}

#info_sign_register_message{
    display: none;
    padding: 4px 8px;
    width: 300px;
    margin-top: 16px;
    position: absolute;
    left: calc(50% - 240px);
    color: #333;
    z-index: 20;
    line-height: 1.2em;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    font-size: 14px;
    word-spacing: -5px;
}
.info_sign_register:hover #info_sign_register_message{
    display: block;
}

.field-regulations-privacy_policy p{
    font-size: 14px;
}

.field-regulations-privacy_policy a{
    color: #428BCA;
}

.field-join-info span:hover, .field-regulations-privacy_policy a:hover{
    color: #982582;
}

.back_to_login p{
    margin-bottom: 0;
    font-size: 14px;
}

.back_to_login a{
    color: #428BCA;
}
/* End of register screen */

.link_like_button, .link_like_button_more_contrast{
    background-color: #F59A1E;
    color: #FFFFFF;
    padding: 20px 35px;
    border-radius: 0;
    font-size: 24px;
    font-weight: 700;
}

.link_like_button:hover{
    background-color: #982582;
    color: #FFFFFF;
}

.link_like_button_more_contrast:hover{
    background-color: #FF43DF;
    color: #FFFFFF;
}

@media screen and (max-width: 440px){
    .link_like_button {
        font-size: 18px;
        padding: 15px 10px;
    }
}
/* Headings settings */
h1{
    font-size: 26px;
    font-weight: 700;
}

h2{
    font-size: 21.5px;
    font-weight: 700;
}

h3, p, #partners_friends{
    font-size: 17px;
}

h4{
    font-size: 12.5px;
}

h5{
    font-size: 10px;
}

h6{
    font-size: 8.5px;
}

@media (min-width: 768px) {
    h1{
        font-size: 28.6px;
    }

    h2{
        font-size: 23.65px;
        font-weight: bold;
    }

    h3, p, #partners_friends{
        font-size: 18.7px;
    }

    h4{
        font-size: 13.75px;
    }

    h5{
        font-size: 11px;
    }

    h6{
        font-size: 9.35px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size: 31.2px;
    }

    h2{
        font-size: 25.8px;
        font-weight: bold;
    }

    h3, p, #partners_friends{
        font-size: 20.4px;
    }

    h4{
        font-size: 15px;
    }

    h5{
        font-size: 12px;
    }

    h6{
        font-size: 10.2px;
    }
}

@media (min-width: 1200px) {
    h1{
        font-size: 36.4px;
    }

    h2{
        font-size: 30.1px;
        font-weight: bold;
    }

    h3, p, #partners_friends{
        font-size: 23.8px;
    }

    h4{
        font-size: 17.5px;
    }

    h5{
        font-size: 14px;
    }

    h6{
        font-size: 11.9px;
    }
}

/* End of Headings settings */

/* Navbar font modification */
.navbar-static-top{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.dropdown-menu > li > a{
    font-size: 16px;
    font-weight: 600;
}
/* End of Navbar font modification */
/* End of Common css */
.for_organizations_first_section{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/dlaorganizacji.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.checklist ul li{
    list-style: none;
}

.checklist ul li span{
    float: left;
    padding: 10px;
    background-color: #982582;
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 30px;
    clear:left;
}

@media screen and (max-width: 768px) {
    .checklist > ul{
        -webkit-padding-start: 10px;
    }
}

.benefits{
    background: #E8E8E8;
    color: #000000;
}

/* Centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
/* End of Centered columns styles */
/* End of Common css */

/* UCW Theme module description */
.theme_description{
    overflow: hidden;
}
/* End of UCW Theme module description */


/* Home page*/
#down_arrow_scroll{
    background: url('/bestja_frontend_ucw/static/src/img/content/down_arrow.svg') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 180px;
    left: calc(50% - 25px);
    z-index: 5;
    opacity: 0.5;
}

@media (max-width: 991px){
    #down_arrow_scroll{
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
    }
}

@media (max-width: 768px){
    #down_arrow_scroll{
        width: 32px;
        height: 32px;
        left: calc(50% - 16px);
    }
}

.container_under_categories a, .join_us_now a{
    color: #F59A1E;
}

.container_under_categories a:hover, .join_us_now a:hover{
    color: #982582;
}

div.carousel div.carousel-content{
    background-color: transparent;
    background: none;
}

.carousel_container{
    position: relative;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    max-height: 80%;
}

.carousel_title h1{
    text-align: center;
    line-height: 1.4em;
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 480px){
    .carousel_title h1{
        top: 5%;
    }
}

.carousel_title a, .carousel_title a:hover, .carousel-caption a, .carousel-caption a:hover{
    color: #FFFFFF;
    z-index: 10;
}

div.carousel .carousel-indicators li {
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

div.carousel .carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 80px;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('./fonts/glyphicons-halflings-regular.eot');
    src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .glyphicon-menu-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .glyphicon-menu-right {
    right: 50%;
    margin-right: -10px;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-menu-left,
    .carousel-control .glyphicon-menu-right {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 50px;
    }
    .carousel-control .glyphicon-menu-left {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-menu-right{
        margin-right: -15px;
    }
}

.carry_out_section{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/stronaglowna2.jpg') no-repeat 50% 100%;
    color: #FFFFFF;
}

.carry_out_section a:hover{
    color: #FF43DF;
}
/* Categories */
.category_description{
    color: #000000;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .category_description{
        margin-bottom: 30px;
        font-size: 18px;
    }
}

.category_link{
    display: block;
    width: 100%;
    height: 100%;
}

.category_link:hover .category_description{
    color: #982582;
}

.category_pictogram{
    position: absolute !important;
    top: calc(50% - 130px);
    left: calc(50% - 107px);
    width: 215px;
    opacity: 0;
}

.category_link:hover .category_pictogram{
    opacity: 1;
}

.img_category_hover{
    display: none;
}

@media screen and (max-width: 767px) {
    .category_pictogram{
        left: calc(50% - 95px);
        width: 190px;
    }

    .category_column{
        min-height: 290px;
    }
}

@media screen and (max-width: 440px) {
    .category_column{
        width: 100%;
    }

    .category_column{
        min-height: 1px;
    }
}
/* End of categories */
/* End of home page*/

/* About us */
.first_section_about_us{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/onas.jpg') no-repeat 50% 0%;
    background-size: auto 100%;
    color: #FFFFFF;
}

.link_more_contrast:hover{
    color: #FF43DF;
}

.simple_quote{
    background-color: #E8E8E8;
}

.simple_quote p{
    color: #982582;
}
/* End of about us*/

/* For Organizations*/
.step_of_registration_section{
    background: #009D93;
    color: #FFFFFF;
}

.step_of_registration_section h1{
    color: #FFFFFF;
}
/* End of for Organizations*/

/* Become volunteeer*/
.become_volunteer_first_section{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem1.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.become_volunteer_qualifications_section{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem2.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.become_volunteer_join_us_section{
    background: #9A0082 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem3.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.who_can_be_volunteer{
    background-color: #982582;
    color: #FFFFFF;
}

.who_can_be_volunteer h2{
    color: #FFFFFF;
}

.law_aspects a, .volunteering_in_net a{
    color: #F59A1E;
}

.law_aspects a:hover, .volunteering_in_net a:hover{
    color: #982582;
}

.like_write li{
    list-style: none;
}

.like_write span{
    float: left;
}

.like_write h1{
    color: #009D93;
}

.like_write h2{
    font-weight: normal;
}

.like_write img{
    width: 120px;
    margin-right: 40px;
}

.like_write a:hover h1{
    color: #982582;
}

.step_of_registration h2, .step_of_registration p{
    z-index: 2;
}

.steps_of_cooperation_background_number{
    position: absolute;
    font-size: 200px;
    font-weight: bold;
    opacity: 0.1;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .steps_of_cooperation_background_number{
        font-size: 150px;
    }
}
/* End of become volunteeer*/

/* Quotes */
.quote_picture_on_right, .quote_picture_on_left{
    height: 222px;
    padding: 5px 25px;
    background-color: #009D93;
}

.citation{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5em;
    color: #FFFFFF;
}

.signature{
    font-size: 18px;
    position: absolute;
    right: 100px;
    bottom: 10px;
    color: #FFFFFF;
}
@media screen and (max-width: 767px) {
    .quote_picture_on_right, .quote_picture_on_left{
        height: auto;
    }

    .signature{
        position: relative;
        right: auto;
        bottom: auto;
    }
}
/* End of quotes */

/* Navigation buttons */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus{
    background-color: #982582;
    border-radius: 0;
}

.nav-pills > li.active > a:hover{
    background-color: #009D93;
}

.nav-pills > li > a, .nav-pills > li > a:focus{
    background-color: #EEEEEE;
    color: #696969;
    border-radius: 0;
}

.nav-pills > li > a:hover{
    background-color: #009D93;
    color: #FFFFFF;
}

.single_page_nav{
    position: fixed;
}

.single_page_nav li{
    margin-right: 40%;
}

.single_page_nav > li.active > a, .single_page_nav > li.active > a:focus{
    background-color: #F59A1E;
    border-radius: 0;
}

.single_page_nav > li.active > a:hover{
    background-color: #982582;
}

.single_page_nav > li > a, .single_page_nav > li > a:focus{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0;
}

.single_page_nav > li > a:hover{
    background-color: #982582;
    color: #FFFFFF;
}

@media screen and (min-width: 992px) {
    .single_page_nav{
        padding-top: 40px;
    }
}

@media screen and (max-width: 991px) {
    .single_page_nav{
        position: relative;
    }
    .single_page_nav li, .single_page_nav li + li{
        float: left;
        margin-top: 8px;
        margin-right: 25px;
    }

    .single_page_nav > li > a{
        display: inline-block;
    }
}

@media screen and (max-width: 440px) {
    .regulations p, .privacy_policy p,
    .regulations li, .privacy_policy li{
        font-size: 16px;
    }
}
/* End of navigation buttons */

/* Team site */
.team_site img{
    max-height: 400px;
    max-width: 450px;
}
/* End of team site */

/* Cookie accept */
#cookie_reminder_container{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    padding: 10px 20px;
    padding-right: 40px;
    bottom: 0;
    background-color: rgb(152,37,130);
    z-index: 1000;
}

.cookie-info{
    max-width: 1300px;
    margin: 0 auto;
}

.cookie-info span{
    display: inline-block;
}

.cookie-info a:hover{
    color: #FF43DF;
}

#cookie_reminder_close{
    position: absolute;
    top: 10px;
    right: 17px;
    font-size: 14px;
}

#cookie_reminder_close:hover{
    color: #F59A1E;
    cursor: pointer;
}
/* End of Cookie accept */

/* Contact page*/
.contact_us_tel_email a{
    color: #009D93;
}
/* End of contact page*/