/* Footer */
footer{
    display: block;
    padding-top: 20px;
    background-color: #4D4D4D;
    font-family: 'Ubuntu', sans-serif;
}

.footer_logo{
    width: 195px;
    height: 130px;
}

@media (max-width: 767px){
    .footer_logo{
        margin: 0 auto;
    }
}

.footer_logo a{
    display: block;
    width: 100%;
    height:  100%;
}

.footer_logo a img{
    height: 100%;
}

address p{
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 2.5px;
}

.design_by, .copyrights{
    font-size: 12px;
    display: block;
    color: #ffffff;
}

.footer_icons{
    padding-left: 0;
}

.footer_icons > div{
    height: 60px;
    line-height: 40px;
}

@media screen and (max-width: 991px){
    .footer_icons > div{
        margin-top: 32px;
    }

    .mail_icon{
        margin-left: 8px;
    }
}

@media screen and (max-width: 767px){
    .footer_icons > div{
        margin-top: 0;
        margin-left: calc(50% - 105px);
        height: 40px;
    }

    .mail_icon{
        margin-left: 0;
    }
}

.footer_icons li{
    list-style: none;
    line-height: 40px;
    padding-bottom: 20px;
    height: 60px;
}

.footer_icons img{
    width: 25px;
    margin-right: 20px;
}

.footer_info_pages p{
    color: #FC8F06;
    font-size: 14px;
    padding-bottom: 2.5px;
}

@media (max-width: 767px){
    .footer_info_pages{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer_info_pages p{
        margin-left: calc(50% - 32.5px);
        padding-bottom: 0;
        margin-bottom: 2px;
    }

    .copyrights, .design_by{
        margin-left: calc(50% - 97.5px);
    }
}

/* As response to  ----- BOOTSTRAP FIX -----  in /website/static/src/css/website.css
In footer there is need for column as in original bootstrap */
.fixed-col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px){
    .fixed-col-md-12{
        width: 100%;
    }
}
/* End of footer */
