<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduFrog</h2>

            <h3 class="oe_slogan">La gesti&oacute;n eficiente de los estudiantes, facultades, cursos y clases con una
                plataforma de colaboraci&oacute;n</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.manexware.com/OpenEduFrog">
                    <img src="openedufrog_logo.png">
                </a>

                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Sobre la base de lo mejor de la arquitectura a nivel de empresa de clase, OpenEduFrog est&aacute; listo
                para ser utilizado en ambientes como la infraestructura local o un entorno de nube altamente escalable.
            </p>

            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.manexware.com/contactus/" class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Informaci&oacute;n del Estudiante en un Click</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Un sistema completo de gesti&oacute;n de los estudiantes, lo que facilita el almacenamiento de toda la
                informaci&oacute;n relacionada a los estudiantes, tales como direcci&oacute;n, grupo sangu&iacute;neo,
                logros y mucho m&aacute;s.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="student.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            M&aacute;s f&aacute;cil la Gesti&oacute;n de la Facultad </h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="faculty.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Sistema de gesti&oacute;n de la Facultad con el sistema de gesti&oacute;n de recursos humanos integrada
                proporciona un control total sobre la informaci&oacute;n relacionada con los profesores como de grado,
                las habilidades y la n&oacute;mina.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Inscripci&oacute;n</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Incorporada, proceso de inscripci&oacute;n de flujo de trabajo impulsado permite instituto para seguir
                un flujo de proceso transparente con informaci&oacute;n detallada de cada etapa. Haciendo proceso de
                inscripci&oacute;n es una tarea f&aacute;cil. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="enrollment.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Libraria</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="library.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Ayuda del Sistema Integrado de Gesti&oacute;n Bibliotecaria mantenimiento Gesti&oacute;n de la Agenda
                mediante el control de funciones como tema del libro, la recepci&oacute;n de los libros a los
                estudiantes y facultades, gatillo presupuesto de compra de libros que no est&aacute;n disponibles en la
                biblioteca y las actividades de vigilancia que utilizan tarjetas de biblioteca basados c&oacute;digo de
                barras. </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Clase</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Sistema de Gesti&oacute;n de la Clase gestiona supuesto, lote, clase y divisi&oacute;n en diversas
                formas de simplificar la estructura educativa. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="class.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Gestion Financiara</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="financial.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Parte de gesti&oacute;n financiera de OpenEduFrog da institutos de gesti&oacute;n de sus actividades
                financieras con el apoyo de diversos metodolog&iacute;a de pago y la gesti&oacute;n de pago
                flexible. </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Time Table</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Tiempo de las facultades y estudiantes de gesti&oacute;n es la parte m&aacute;s importante de cualquier
                instituto y OpenEduFrog ayuda en la consecuci&oacute;n de la misma, proporcionando interfaz amigable
                realmente usuario para asignar intervalos de tiempo a las facultades. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="timetable.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Asistencia</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="attendence.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                D&iacute;a a d&iacute;a las actividades como la gesti&oacute;n de la asistencia puede llegar a ser una
                tarea tediosa para cualquiera, y OpenEduFrog tratado de eliminarlo mediante la recopilaci&oacute;n de datos
                m&iacute;nimos mediante la automatizaci&oacute;n de la poblaci&oacute;n de otros datos. </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Asignaciones</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Asignaci&oacute;n y informar a los estudiantes acerca de las asignaciones, evaluarlos y proporcionar
                informaci&oacute;n en entorno colaborativo de OpenEduCat es s&oacute;lo una cuesti&oacute;n de unos
                pocos clics.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="assignment.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Exam</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="exam.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                La organizaci&oacute;n de examen con el apoyo de diversos m&eacute;todos de c&aacute;lculo, como
                promedio, CPA, CCE es ahora posible con OpenEduFrog.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Resultados</h2>

        <div class="oe_span6">
            <p class="oe_mt32">

                Impulsado la generaci&oacute;n de flujo de trabajo resultado de OpenEduFrog se asegura de que cada
                resultado se genera mediante un proceso transparente y en cada estado est&aacute; siendo monitoreado
                cada cambio y historizar. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="result.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Eventos</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="events.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Sistema de gesti&oacute;n de eventos permite instituto organizar e informar a los estudiantes y
                facultades sobre los eventos con facilidad de env&iacute;o de RSVP.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Noticias</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Para mantener a los estudiantes y profesores informados sobre todo ocurre ir por el campus est&aacute; a
                un clic de distancia mediante la publicaci&oacute;n de noticias de la OpenEduFrog.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="news.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Blog</h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="blog.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">

                Blogging sistema interno proporciona intenso intercambio a trav&eacute;s del instituto usando entorno
                colaborativo de OpenEduFrog informaci&oacute;n.
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Dashboard</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Un tablero de control f&aacute;cil de usar que proporciona informaci&oacute;n general a los estudiantes
                y facultades, hacen que sea f&aacute;cil para ellos para manejar su horario y trabajar en forma
                eficiente.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="dashboard.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Reportes</h2>

        <div class="oe_span6">
            <p class="oe_mt32">

                Informes detallados sobre todos los objetos, el suministro de informaci&oacute;n para instituir sobre el
                desempeño de los estudiantes y ayudarles a establecer facultades de referencia y expectativas derecha.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="reporting.png">
            </div>
        </div>
    </div>
</section>
